version: '3'

services:
  jtrader:
    build:
      context: ./.docker
      dockerfile: Dockerfile-development
    volumes:
      - ./:/home/python/src
    working_dir: /home/python/src
    environment:
      - AWS_DEFAULT_REGION=us-west-2
      - AWS_ACCESS_KEY_ID=
      - AWS_SECRET_ACCESS_KEY=
      - AWS_ML_EXECUTION_ROLE=
      - IEX_CLOUD_API_TOKEN=
      - IEX_CLOUD_SANDBOX_API_TOKEN=
      - ALPHAVANTAGE_API_KEY=
      - SLACK_TOKEN=
      - KUCOIN_API_TOKEN=
      - KUCOIN_API_SECRET=
      - KUCOIN_API_PASSPHRASE=
    ports:
      - 8786:8786
      - 8787:8787
